{{>layout/header}}

<div id="posts_list">
    <table id="table" class="table table-striped">
        <thead id="thead">
        <tr>
            <th>닉네임</th>
            <th>아이디</th>
            <th>이메일</th>
            <th>권한</th>
            <th>설정</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#users}}
            <tr>
                <td>{{nickname}}</td>
                <td>{{username}}</a></td>
                <td>{{email}}</td>
                <td>{{role}}</td>
                <td><button class="btn btn-primary bi">활동 정지</button></td>
            </tr>
        {{/users}}
        </tbody>
    </table>
    {{>admin/admin-page}}
</div>
{{>layout/footer}}
